<h1 style="color:white;font-family: ubuntu;font-size: 300%;">Editar Restaurante</h1>


<%= form_with(model: @restaurante, url: restaurante_path(@restaurante)) do |form| %>
  <div class="field" style="color:white;font-family: ubuntu;font-size: 200%;">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field" style="color:white;font-family: ubuntu;font-size: 200%;">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field" style="color:white;font-family: ubuntu;font-size: 200%;">
    <%= form.label :avatar%>
    <%= form.file_field :avatar%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<style> 
body { background-image: url('/assets/nacha.png') !important;
    background-position: collapse !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style> 

<main class="container" role="main">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">


<div class="collapse navbar-collapse" id="navbarsExampleDefault">

  <ul class="navbar-nav mr-auto">
  <% if signed_in? %>

    <a class="nav-link" href="restaurantes">Mostrar Restaurantes <span class="sr-only">(current)</span></a>
  </li>
  
  <%= link_to "Salir", destroy_user_session_path, method: :delete ,class: "nav-link"%>
  
  <% else %>
  <li class="nav-item active">
  <a class="nav-link" href="users/sign_in">Ingresar <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item active">
  <a class="nav-link" href="users/sign_up">Registrarse <span class="sr-only">(current)</span></a>
</li>
<% end %>

      </div>
    </li>
  </ul>

</div>
</nav>
</main>




<footer class="fixed-bottom">
  <div class="footer-copyright text-center py-3">
     <font color="white">Desarrollado por Trejos Dream Team</font>
  </div>
  </footer>



