
<h1>Entrega 1 del grupo 13 en Docker</h1>

<div>
  <% if signed_in? %>
    <%= link_to "Salir", destroy_user_session_path, method: :delete %>
    <%= link_to "Mostrar restaurantes", restaurantes_path %>
  <% else %>
    <%= link_to "Registrarse", new_user_registration_path %>
    <%= link_to "Ingresar", new_user_session_path %>
    <%= link_to "Mostrar restaurantes", restaurantes_path %>
    
   
    
  <% end %>
</div>
