<h1 style="color:white;font-family: ubuntu;font-size: 400%;">Comentarios</h1>


<p id="notice"><%= notice %></p>
<% if @comentarios%>
  <% @comentarios.each do |comentario|%>
    <p style="color:white;font-family: ubuntu;font-size: 150%;margin-top:20px;margin-left:20px">
      <strong>Restaurante o plato:</strong>
      <%= comentario.restaurante_o_plato %>
    </p>

    <p style="color:white;font-family: ubuntu;font-size: 150%;margin-top:20px;margin-left:20px">
      <strong>Usuario:</strong>
      <%= comentario.usuario %>
    </p>

    <p style="color:white;font-family: ubuntu;font-size: 150%;margin-top:20px;margin-left:20px">
      <strong>Fecha y hora:</strong>
      <%= comentario.fecha_y_hora %>
    </p>

    <p style="color:white;font-family: ubuntu;font-size: 150%;margin-top:20px;margin-left:20px">
      <strong>Contenido:</strong>
      <%= comentario.contenido %>
    </p>

    <p style="color:white;font-family: ubuntu;font-size: 150%;margin-top:20px;margin-left:20px">
      <strong>Puntaje de reputacion:</strong>
      <%= comentario.puntaje_de_reputacion %>
    </p>
  <% end %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Editar', edit_comentario_path(comentario) %>
  <% end %>
<% end %>
<% if @comentarios==[] %>
  <p>No existen comentarios actualmente</p>
<% end %>
<%= link_to 'Atras', restaurantes_url %>
<style> 


body { background-image: url('/assets/nacha.png') !important;
    background-position: collapse !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style> 

<main class="container" role="main">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">


<div class="collapse navbar-collapse" id="navbarsExampleDefault">

  <ul class="navbar-nav mr-auto">
  <% if signed_in? %>

  <%=link_to "Perfil", current_user,class: "nav-link", :style=>'color: white;font-family: ubuntu;font-size: 100%;margin-left:20px'%>


  <%=link_to "Mostrar Restaurantes", restaurantes_url, class: "nav-link", :style=>'color: white;font-family: ubuntu;font-size: 100%;margin-left:20px'%>

  
  <%= link_to "Salir", destroy_user_session_path, method: :delete ,class: "nav-link" ,:style=>'color: white;font-family: ubuntu;font-size: 100%;margin-left:20px'%>
  <% else %>
  <li class="nav-item active">
  <a class="nav-link" href="users/sign_in">Ingresar <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item active">
  <a class="nav-link" href="users/sign_up">Registrarse <span class="sr-only">(current)</span></a>
</li>
<% end %>

      </div>
    </li>
  </ul>

</div>
</nav>
</main>




<footer class="fixed-bottom">
  <div class="footer-copyright text-center py-3">
     <font color="white">Desarrollado por Trejos Dream Team</font>
  </div>
  </footer>
