<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurante o plato:</strong>
  <%= @comentario.restaurante_o_plato %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario %>
</p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @comentario.fecha_y_hora %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @comentario.contenido %>
</p>

<p>
  <strong>Puntaje de reputacion:</strong>
  <%= @comentario.puntaje_de_reputacion %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
