<p id="notice"><%= notice %></p>

<h1>Restaurantes</h1>

<% n = 1 %>
<% @restaurantes.each do |restaurante| %>
  <h5><%= n %>. <%= restaurante.titulo %></h5>
  <%= link_to 'View restaurante', restaurante_path(restaurante) %>
  <% n += 1 %>
<% end %>

<%= link_to 'Nuevo restaurante', new_restaurante_path %>






