<h1>New Restaurante</h1>

<%= form_with(model: Restaurante.new, local: true) do |form| %>
  <div class="field">
    <%= form.label :titulo%>
    <%= form.text_field :titulo%>
  </div>

  <div class="field">
    <%= form.label :correo%>
    <%= form.text_field :correo%>
  </div>

  <div class="field">
    <%= form.label :direccion%>
    <%= form.text_field :direccion%>
  </div>

  <div class="field">
    <%= form.label :valoracion%>
    <%= form.text_field :valoracion%>
  </div>

  <div class="field">
    <%= form.label :telefono%>
    <%= form.text_field :telefono%>
  </div>
  <div class="field">
    <%= form.label :url%>
    <%= form.text_field :url%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




