<p id="notice"><%= notice %></p>

<h3> Informacion </h3>
<p>Nombre: <%= @restaurantes.titulo %></p>
<p>Direccion: <%= @restaurantes.direccion %></p>
<p>Telefono: <%= @restaurantes.telefono %></p>
<p>Valoracion: <%= @restaurantes.valoracion %></p>
<p>Correo: <%= @restaurantes.correo %></p>
<p>Url: <%= @restaurantes.url %></p>

<%= link_to 'Ver Platos', platos_path %>
<b>
<%= link_to 'Ver Ordenes', ordenes_path %>
<b>
<%= link_to 'Ver Comentarios', comentarios_path %>
<b>
<%= link_to 'Back', restaurantes_path %>
<b>
<%= link_to 'Crear Orden', new_ordene_path %>

