<!DOCTYPE html>
<html>
  <head>
    <title>Grupo13</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">    

    </head>

    <body class="welcome if action_name == 'welcome'">
    <%= yield %>
  </body>
</html>
